/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .navbar-expand {
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  
    .navbar-expand .navbar-nav {
      flex-direction: row;
    }
    
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute;
    }
  
    .navbar-expand .navbar-nav .nav-link {
      padding-right: 16px; /* Adjust as needed */
      padding-left: 16px;  /* Adjust as needed */
    }
  
    .navbar-expand .navbar-nav-scroll {
      overflow: visible;
    }
    
    .navbar-expand .navbar-collapse {
      display: flex !important;
      flex-basis: auto;
    }
  
    .navbar-expand .navbar-toggler {
      display: none;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    /* You can add or modify styles here for medium screens */
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    /* You can add or modify styles here for large screens */
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    /* You can add or modify styles here for extra large screens */
  }
  